.header {
  font-size: 54px;
  font-weight: 600;
  width: 374px;
  margin: 2rem 0px;
}
.headerAndBtnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.BtnDiv {
  width: 200px;
  height: 92px;
  margin: 2rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Btn {
  height: 90px;
  width: 90px;
  padding: 22px;
  border-radius: 50%;
  border: none;
}
#rightBtn {
  background: rgba(227, 183, 72, 1);
}
.cardDiv {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 80px;
}
.cards {
  padding: 1rem;
  border: 1.5px solid #ffffff;
  opacity: 100%;
  border-radius: 14px;
  width: 330px;
}
.imgDiv {
  color: #1d1d1d;
  height: 101px;
  width: 101px;
  border-radius: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  font-size: 24px;
  font-weight: 600;
  min-width: 215px;
  margin: 1rem 0px;
}
.postions {
  font-size: 14px;
  font-weight: 400;
  margin: 1rem 0px;
}
.cardText {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  opacity: 30%;
  min-width: 295;
  height: 70px;
}

#card2 {
  background-color: #2e2e2e;
}
